ul {
	list-style: none;
	padding-left: 0;
	margin: 0;
}
li {
	margin: 0.25rem;
}
*[readonly] {
	background-color: #E0E0E0;
	border-color: #A0A0A0;
}
.box {
	display: flex;
	flex-wrap: wrap;
}
.space-between {
	display: flex;
	justify-content: space-between;
	align-items: end;
}
.chip-area:nth-child(n+3) {
	display: none;
}
.chip-area, .start-chip-area {
	width: 21rem;
	min-height: 8rem;
}
.name-area {
	width: 20rem;
	margin: 0.25rem;
}
.group-area {
	margin: 0.25rem;
	font-weight: bold;
}
.message-area {
	width: 20rem;
	height: 6rem;
	margin: 0.25rem;
}
.parameter-area {
	margin: 0.25rem;
	border-left: double;
	border-color: grey;
}
.parameter-area input[type="number"] {
	width: 5rem;
}
#unac-comment {
	width: 22rem;
}
#url {
	width: 22rem;
}
#copy-button-message {
	display: none;
}
#all-delete-button {
	height: 1.6rem;
	white-space: nowrap;
}
#cost1, #cost2, #cost3, #total-cost {
	width: 5rem;
}
#pattern1 {
	background-color: #FFEEEE;
}
#pattern2 {
	background-color: #EEFFEE;
}
#pattern3 {
	background-color: #EEEEFF;
}
#pattern1 , #pattern2, #pattern3 {
	border-width: thick;
}

.moving, .right-arm, .left-arm, .shoulder, .recognition, .target-evaluation, .dodge, .special-moving, .special-action, .dummy-fieldset{
	border-width: medium;
	border-style: dashed;
}

.dummy-fieldset {
	border-color: transparent;
}

.operation {
	width: fit-content;
}
